*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
    /* overflow-x: hidden; */
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 9vh;
    background-color: #FFFFFF;
    padding: 0 50px;
    position: sticky;
    top: 0%;
    left: 0%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    z-index: 10;
}

header img{
    width: 194px;
}

.container{
    width: 100vw;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background:#E6E6E6;
}

.in-container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, 0.3);
}

.container-certificate-image{
    height: 100%;
}

.container-certificate-image img{
    width: 240px;
    height: 100%;
}


.container-log-in{
    width: 450px;
    height: 60vh;
    padding: 2vh 2.8vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    /* overflow: hidden; */
    z-index: 0;
}

.container-log-in img{
    width: 130px;
}

.container-log-in h1{
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 4vh;
    margin-bottom: 6vh;
    font-family: Google Sans,Arial,sans-serif;
}

.container-log-in input{
    width: 100%;
    height: 30px;
    border: none;
    padding: 2vh 10px;
    border-bottom: 1px solid  rgba(0,0,0,.38);
    margin-bottom: 1vh;
    font-size: 17px;
    background-color: white;
}

.container-log-in p{
    color: rgba(0, 0, 0, 0.63);
    font-size: 12px;
    margin-bottom: 4vh;
}

.button-out{
    display: flex;
    justify-content: right;
}

.container-log-in button{
    padding: 2vh 60px;
    background: #c3c3c3;
    border: 1px;
}

footer{
    background-color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 12;
    
}

footer h1{
    color: rgb(95, 95, 241);
    font-size: 20px;
    font-family: Roboto,Arial,sans-serif;
}

footer span{
    color: #7A06AB;
    font-size: 22px;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 100;
}

footer ul{
    display: flex;
    height: 10vh;
    align-items: center;
    
}

footer ul li{
    list-style: none;
    margin-right: 30px;
}

footer ul li a{
    color: black;
    text-decoration: none;
}

footer ul li a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 800px){

    header{
        padding: 0 20px;
        height: 9vh;
    }

    header img{
        width: 30vw;
    }

    .container{
        display: flex;
        height: 84vh;
    }

    .in-container{
        height:50vw;
        display: flex;
        justify-content: center;
        align-items: center;     
    }

    .container-certificate-image{
        height: 0;
    }

    .container-certificate-image img{
        width: 0;
        height: 0;
    }
    
    
    .container-log-in{
        width: 80vw;
        height: 50vw;
        padding: 3vw;
    }
    
    .container-log-in img{
        width: 25vw;
    }
    
    .container-log-in h1{
        font-size: 4.2vw;
        margin-top: 3vw;
        margin-bottom: 5vw;
    }
    
    .container-log-in input{
        width: 100%;
        height: 5vw ;
        padding: 0 1vw;
        margin-bottom: 1vw;
        font-size: 2vw;
    }
    
    .container-log-in p{
        font-size: 2.3vw;
        margin-bottom: 32px
    }
    
    .container-log-in button{
        padding: 1vw 5vw;
        position: absolute;
        bottom: 7vw;
        right: 3vw;
        border: 1px;
        font-size: 2.3vw;
    }

    #last{
        margin-right: 0px;
    }
}

@media screen and (max-width: 600px){
    footer{
        display: flex;
        flex-direction: column;
        height: 6vh;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0%;
        right: 0;
        z-index: 12;
    }

    footer ul{
        height: 3vh;
    }

    footer h1{
        font-size: 4vw;
    }

    footer span{
        font-size: 4vw;
    }

    footer a{
        font-size: 2vw;
    }
}