:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  width: 334px;
  margin: 15px;
}

.progress::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: -2;
}

.progress-line {
  width: 0%;
  height: 4px;
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.8s ease;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid #e0e0e0;
  transition: 1s ease 0.3s;
}

.active {
  border-color: var(--line-border-fill);
}

.btn {
  color: #fff;
  background-color: var(--line-border-fill);
  padding: 8px 30px;
  margin: 5px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}
