*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header{
    width: 100%;
    padding: 20px 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'poppins', sans-serif;
}

nav h1{
    font-size: 40px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

nav ul li{
    list-style: none;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}


.search-box input{
    padding: 10px;
    width: 200px;
    position: relative;
    border-right: none;
    border-bottom-left-radius: 5px;
    
}

.search-box button{
    padding: 11px 15px;
    width: 70px;
    margin-left: -4px;
    font-size: 12px;
    text-align: left;
}

.text-part{
    margin-top: 9%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part-1{
    width: 50%;
}
.part-1 h2{
    font-size: 35px;
    letter-spacing: 1.5px;
}

.part-1 h1{
    font-size: 45px;
    letter-spacing: 1.5px;
}

.part-1 p{
    line-height: 25px;
    letter-spacing: 0.8px;
}

.part-1 button{
    margin-top: 30px;
    padding: 10px 50px;
    font-size: 15px;
    cursor: pointer;
}

.form{
    padding: 25px;
    margin-bottom: 38px;
}

.form h3{
    padding: 10px 80px;
    font-size: 17px;
    font-weight: 600;
}

.input{
    display: grid;
}

.input input{
    margin-top: 7%;
    padding: 10px;
    width: 100%;
    font-size: 13px;
}

.form button{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    margin-top:10% ;
    font-size: 17px;
    
}

.form p{
    font-size: 15px;
    text-align: center;
    margin-top: 9%;
}


.font-awesome{
    width: 90%;
    margin: auto;
    text-align: center;
}

.fa{
    margin-top: 6%;  
    font-size: 40px;
    margin-left: 14px ;
}


