.header{
    padding:10px;
}

nav{
    display: flex;
    flex-direction: column;
}

nav h1{
    font-size: 25px;
    margin-bottom: 5px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-bottom: 15px;
}

nav ul li{
    list-style: none;
    margin-left: 20px;
}

nav ul li a{
    font-size: 15px;
}

.search-box input{
    width: 60vw;
    font-size: 10px;
    position: relative;
}

.search-box button{
    width: 27vw;
    margin-left: -4px;
    font-size: 10px;
    padding: 10px 7vw;
}

.text-part{
    margin-top: 9%;
}

.part-1{
    width: 80%;
    margin: auto;
}
.part-1 h2{
    font-size: 25px;
    letter-spacing: 0.8px;
}

.part-1 h1{
    font-size: 35px;
    letter-spacing: 0.8px;
}

.part-1 p{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.8px;
}

.part-1 button{
    padding: 10px 30px;
    font-size: 13px;
    margin-bottom: 30%;
}

.form{ 
    padding: 10px;
    width: 80%;
    margin: auto;
}

.form h3{
    background-color: transparent;
    text-align: center;
    padding: 10px 50px;
    font-size: 15px;
    font-weight: 600;
}

.input{
    display: flex;
    flex-direction: column;
}

.input input{
    margin-top: 3%;
    padding: 7px;
    width: 100%;
    font-size: 13px;
}

.form button{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    margin-top:7% ;
    font-size: 15px;
    font-weight: lighter;
}

.form p{
    text-align: center;
    margin-top: 7%;
    font-size: 13px;
}

.form .fa{
    margin-top: 6%;
    color: white;
    font-size: 8vw;
    margin-left: 3.5% ;
    cursor: pointer;
}

.fa-instagram:hover{
    color: rgb(204, 16, 16);
}

.fa-facebook:hover{
    color: rgb(16, 75, 204);
}

.fa-twitter:hover{
    color: rgb(16, 75, 204);
}

.fa-whatsapp:hover{
    color: rgb(52, 155, 12);
}

.fa-google:hover{
    color: rgb(204, 16, 16);
}

